.card {
    --card-padding: 20px;
    --name-margin-bottom: 6px;
    --role-margin-bottom: 16px;
    --btnTelegram-padding: 7px 7px 8px 23px;

    padding: var(--card-padding);
}

.img {
    width: inherit;
    max-height: 300px;
    aspect-ratio: 20 / 17;
    border-radius: 10px;
    object-fit: cover;
    object-position: top;

    &Wrapper {
        position: relative;
        width: 100%;
        min-height: 160px;
        line-height: 0;
        margin-bottom: 40px;
        // margin-bottom: auto;

        .btnTwitter {
            display: flex;
            position: absolute;
            bottom: -16px;
            left: 50%;
            transform: translateX(-50%);
            padding: 10px 20px;
            border-radius: 43px;
        }
    }
}

.name {
    margin-bottom: var(--name-margin-bottom);
}

.role {
    margin-bottom: var(--role-margin-bottom);
    text-wrap: nowrap;
}

.btnTelegram {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--btnTelegram-padding);
    border-radius: 100px;
}

.telegramIconWrapper {
    padding: min(4.5%, 14px);
    background: var(--primary-color-60);
    border-radius: 50%;
    line-height: 0;
}

@include laptop() {
    .card {
        --card-padding: 24px;
        --name-margin-bottom: 4px;
        --role-margin-bottom: 19px;
        --btnTelegram-padding: 9px 9px 9px 20px;
    }

    .imgWrapper {
        margin-bottom: 50px;
    }

    .telegramIconWrapper {
        padding: min(3.5%, 14px);
    }
}

@include desktop_extra_extra() {
    .card {
        --card-padding: 30px;

        --name-margin-bottom: 0;
        --role-margin-bottom: 22px;
        --btnTelegram-padding: 14px 12px 14px 24px;
    }

    .img {
        aspect-ratio: 20 / 16;

        &Wrapper {
            margin-bottom: 47px;

            .btnTwitter {
                bottom: -28px;
                padding: 13px 26px;
            }
        }
    }
}
