@include mobile() {
    .container {
        // display: flex;
        // flex-direction: column;
    }

    .label {
        font-size: 16px;
        color: var(--absolute-color-white);
        margin-bottom: 10px;
        display: block;
    }

    .form {
        line-height: 20px;
        color: var(--gray-color-40);
        border-radius: 6px;
        padding: 16px 20px;
        outline: 1px solid var(--gray-color-15);
    }
}

@include laptop() {
    .label {
        margin-bottom: 14px;
    }
}

@include desktop_extra_extra() {
    .label {
        margin-bottom: 16px;
    }

    .label {
        font-size: 20px;
    }

    .form {
        font-size: 18px;
        border-radius: 8px;
        padding: 24px 20px;
    }
}
