@mixin deal_base() {
    .card {
        margin: 10px; // для оутлайна но при мобилке оутлайн 6 пк а комп 10пк
    }

    .header {
        display: flex;
        gap: 20px;
    }

    .company,
    .feedback,
    .info {
        color: var(--absolute-color-white);
    }

    .infoContainer {
        flex: 1 1 0px;

        &:last-child {
            border-left: 1px solid var(--gray-color-15);
        }
    }
}

@mixin deal_min() {
    .card {
        padding: 24px;
        gap: 30px;
        margin-left: 20px; //! ?????????
        margin-right: 20px;
    }

    .header {
        flex-direction: column;
    }

    .company {
        font-size: 20px;
    }

    .infoContainer {
        gap: 2px;

        &:first-child {
            padding-right: 15px;
        }

        &:last-child {
            padding-left: 15px;
        }
    }

    .infoLabel {
        font-size: 12px;
        margin-left: 2px;
    }

    .info {
        font-size: 14px;
        @include heightByNumberOfLines(2, 14px);
    }

    .feedbackContainer {
        padding: 20px;
        gap: 15px;
    }

    .feedback {
        @include heightByNumberOfLines(4);
    }
}

@mixin deal_middle() {
    .card {
        padding: 40px;
        gap: 30px; //! ?????????
        margin-left: 20px; //! ?????????
        margin-right: 20px; //! ?????????
    }

    .header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .company {
        font-size: 24px;
    }

    .infoContainer {
        gap: 6px;

        &:first-child {
            padding-right: 20px;
        }

        &:last-child {
            padding-left: 20px;
        }
    }

    .infoLabel {
        font-size: 14px;
        margin-left: 4px;
    }

    .info {
        font-size: inherit;
        @include heightByNumberOfLines(2, inherit);
    }

    .feedbackContainer {
        padding: 24px;
        gap: 12px;
    }

    .feedback {
        @include heightByNumberOfLines(3);
    }
}