.card {
    display: flex;
    flex-direction: column;
}

.step {
    font-size: 16px;
    padding: 14px 16px;
    border-left: 1px solid var(--primary-color-60);
    color: var(--absolute-color-white);
}

.textContent {
    height: 100%;
    gap: 14px;
    padding: 30px;
}

@include laptop() {
    .textContent {
        gap: 16px;
        padding: 40px;
    }
}

@include desktop_extra_extra() {
    .step {
        font-size: 20px;
        padding: 16px 20px;
    }

    .title {
        font-size: 26px;
    }

    .textContent {
        gap: 20px;
        padding: 50px;
    }
}
