.stats {
    gap: 12px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.title {
    font-size: 24px;
    font-weight: var(--font-weight-bold);
}

.statsCard {
    padding: 16px 0;
    gap: 2px;
    align-items: center;
    text-wrap: nowrap;

    &:last-child {
        grid-column: span 2;
    }
}

.stats__max {
    .statsCard {
        padding: 24px;
    }
}

@include tablet() {
    .stats {
        gap: 12px;
        display: flex;
    }

    .title {
        font-size: 30px;
    }

    .statsCard {
        align-items: start;
        padding: 14px 20px;
    }
}

@include laptop() {
    .stats {
        // gap: 12px;
        display: grid;
    }

    .statsCard {
        align-items: center;
    }
}

@include desktop_extra() {
    .stats {
        display: flex;
    }

    .statsCard {
        align-items: start;
    }
}

@include desktop_extra_extra() {
    .title {
        font-size: 40px;
    }

    .statsCard {
        padding: 14px 24px;
    }

    .stats {
        gap: 20px;
    }
}
