.button {
    padding: 18px 24px;
    border-radius: 10px;
    color: var(--absolute-color-white);
    text-wrap: nowrap;
}

// THEMES

.background {
    background: var(--primary-color-60);
}

.outline {
    border: 1px solid var(--gray-color-15);
    background: none;
}

.grayBackground {
    border: 1px solid var(--gray-color-15);
    background: var(--gray-color-10);
}

// OPTIONS

.max {
    width: 100%;
}
