.button {
    padding: 18px 24px;
    border-radius: 10px;
    color: var(--absolute-color-white);
    text-wrap: nowrap;
}

// THEMES

.background {
    background: var(--primary-color-60);
}

.outline {
    border: 1px solid var(--gray-color-15);
    background: none;
}

.grayBackground {
    border: 1px solid var(--gray-color-15);
    background: var(--gray-color-10);
}

.darkGrayBackground {
    padding: 16px 24px;
    border: 1px solid var(--gray-color-15);
    background: var(--gray-color-08);
}

.clear {
    margin: 0;
    padding: 0;
    background: none;
}

// CONDITIONS

.max {
    width: 100%;
}

.circle {
    padding: 13px;
    border-radius: 50%;
    display: flex;
    align-items: baseline;
}

.disabled {
    opacity: 0.5;
}