@include mobile() {
    .card {
        height: 100%;
        align-items: normal;
    }

    .question {
        color: var(--absolute-color-white);
        margin-bottom: auto;
    }

    .answer {
        letter-spacing: -0.1px;
    }

    .btnReadMore {
        line-height: 1.21;
    }
}

.size {
    &_s {
        &.card {
            gap: 20px;
            padding: 30px;
        }

        .question {
            font-size: 18px;
            letter-spacing: 0.05px;
        }
    }
    &_m {
        &.card {
            gap: 24px;
            padding: 40px;
        }

        .question {
            font-size: 20px;
            letter-spacing: 0.1px;
        }
    }
    &_l {
        &.card {
            gap: 30px;
            padding: 50px;
        }

        .question {
            font-size: 24px;
        }
    }
}
