.CTA {
    position: relative;
    padding: 100px 162px;
}

.title {
    font-size: 48px;
}

.description {
    width: clamp(900px, 68vw, 1154px);
}

.design {
    position: absolute;
    fill: var(--gray-color-10);
    bottom: 0;
    width: 566px;
    height: 308px;
    overflow: hidden;
     z-index: -1;
    &Left {
        left: -20px;
    }

    &Right {
        // right: -92px;
        // bottom: -64px;
        right: 0;
        bottom: 0;
        transform: scale(-1, 1);
        width: 725px;
        height: 394px;
    }
}