.CTA {
    position: relative;
    padding: 100px 162px;
    margin-top: 96px;
}

.textContent {
    width: 73%;
}

.title {
    font-size: var(--font-size-xxxl);
}

.design {
    position: absolute;
    fill: var(--gray-color-10);
    bottom: 0;
    width: 566px;
    height: 308px;
    overflow: hidden;
    z-index: -1;

    &Left {
        left: -20px;
    }

    &Right {
        right: 0;
        bottom: 0;
        transform: scale(-1, 1);
        width: 725px;
        height: 394px;
    }
}
