@include mobile() {
    .carousel {
        gap: 30px;
    }

    .arrowIcon {
        width: 24px;
        height: 24px;

        &__rotated {
            transform: rotate(180deg);
        }
    }

    .navigation {
        gap: 10px;

        &__fullWidth {
            justify-content: space-between;
        }

        &__right {
            border-top: 1px solid var(--gray-color-15);
            padding-top: 15px;
            justify-content: end;
        }
    }
}

@include tablet() {
    .navigation__fullWidth {
        justify-content: end;
    }

    .counter {
        position: absolute;
        left: 0;
        bottom: 18px;
    }
}

@include laptop() {
    .carousel {
        gap: 40px;
    }
}

@include desktop_extra_extra() {
    .carousel {
        gap: 50px;
    }

    .navigation {
        padding-top: 20px;
    }

    .arrowIcon {
        width: 28px;
        height: 28px;
    }

    .counter {
        font-size: 20px;
        bottom: 30px;
    }
}
