.tabs {
    display: flex;
    width: 100%;
    gap: 20px;
}

.title {
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-bold);
}

.desc {
    font-weight: var(--font-weight-medium);
}
