@mixin tile_padding($padding) {
    .value,
    .option {
        padding: $padding;
    }
}

@include mobile() {
    @include tile_padding(16px 20px);

    .select {
        position: relative;

        &.background_gray08 {
            --background: var(--gray-color-08);
            --color: var(--gray-color-60);
        }

        &.background_gray10 {
            --background: var(--gray-color-10);
            --color: var(--gray-color-40);
        }
    }

    .value {
        background: var(--background);
        display: flex;
        align-items: center;

        &_active {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        &__text {
            color: var(--color);
            line-height: 20px;
        }

        &__iconWrap {
            padding-right: 8px;
            margin-right: 8px;
            border-right: 1px solid var(--gray-color-15);
            height: fit-content;
            line-height: 0;
        }

        &__pseudoBtn {
            padding: 4px;
            margin: -8px;
            background: var(--gray-color-10);
            border-radius: 50%;
            margin-left: auto;
            line-height: 0;
        }
    }

    .content {
        max-height: 197px;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        position: absolute;
        left: 0;
        z-index: 1;
        background: var(--background);
        outline: 1px solid var(--gray-color-15);
        border-bottom-left-radius: var(--card-border-radius);
        border-bottom-right-radius: var(--card-border-radius);
    }

    .option {
        border-top: 1px solid var(--gray-color-10);

        &__text {
            color: var(--color);
            line-height: 20px;
        }
    }
}

@include desktop_extra_extra() {
    @include tile_padding(24px 20px);

    .value__iconWrap {
        padding-right: 10px;
        margin-right: 10px;
    }

    .content {
        max-height: 277px;
    }
}
