.widgetCarouselTemplateWrapper {
    padding: 150px 162px 0 162px;
}

.widgetCarouselTemplate {
    position: relative;
}

.reverted {
    transform: rotate(180deg);
}

.title {
    font-size: var(--font-size-xxxl);
}

.footer {
    padding-top: 16px;
    border-top: 1px solid var(--gray-color-15);
}

.btnViewAll {
    margin-top: auto;
}

.deltoids {
    position: absolute;
    top: -40px;
    left: -20px;
}

.description {
    // white-space: pre-wrap;
    // width: 85%;
}
.quantity {
    font-size: var(--font-size-l)
}