@mixin indent($indent) {
    .carouselList {
        margin: 0 (-$indent);
    }

    .card {
        margin: 0 $indent;
    }
}

@include mobile() {
    @include indent(10px);

    .template {
        position: relative;
        padding-bottom: 6px;
        gap: 40px;
    }

    .btnViewAll {
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

@include tablet() {
    .template {
        padding-bottom: 0;
        gap: 60px;
    }

    .textContainer {
        position: relative;
    }

    .btnViewAll {
        left: auto;
        right: 0;
    }
}

@include desktop_extra_extra() {
    @include indent(15px);

    .template {
        padding-bottom: 2px;
        gap: 80px;
    }
}
