.tag {
    background: var(--gray-color-10);
    border: 1px solid var(--gray-color-15);
    border-radius: var(--tag-border-radius);
    padding: 8px 14px;

    .loyalValue {
        color: var(--absolute-color-white);
    }

}
