.teamList {
    display: grid;
    gap: 20px;
}

@include mobile_landscape() {
    .teamList {
        grid-template-columns: repeat(2, 1fr);
    }
}

@include desktop() {
    .teamList {
        grid-auto-columns: minmax(0, 1fr);
        grid-auto-flow: column;
    }
}

@include desktop_extra_extra() {
    .teamList {
        gap: 30px;
    }
}
