@include mobile() {
    .card {
        height: 100%;
        align-items: normal;

    }

    .estate {
        &Image {
            width: 100%;
            border-radius: var(--image-border-radius);
            object-fit: cover;
        }

        &Summary {
            margin-bottom: auto;
        }

        &Details {
            height: 100%;
        }
    }

    .footer {
        width: 100%;
    }
}

.size {
    &_s {
        &.card {
            gap: 18px;
            padding: 24px;
        }

        .estate {
            &Image {
                aspect-ratio: 64 / 43;
                max-height: 255px;
            }

            &Summary {
                gap: 2px;
            }

            &Details {
                gap: 19px;
            }
        }

        .footer {
            gap: 31px;
            gap: 20px;
        }
    }
    &_m {
        &.card {
            gap: 20px;
            padding: 30px;
        }

        .estate {
            &Image {
                aspect-ratio: 64 / 43;
                max-height: 330px;
            }

            &Details {
                gap: 24px;
            }

            &Summary {
                gap: 4px;
            }
        }

        .priceLabel {
            font-size: 14px;
        }

        .footer {
            gap: 40px;
        }
    }
    &_l {
        &.card {
            padding: 40px;
            gap: 36px;
        }

        .estate {
            &Image {
                aspect-ratio: 32 / 23;
                max-height: 330px;
            }

            &Details {
                gap: 28px;
            }

            &Summary {
                gap: 10px;
            }
        }

        .priceLabel {
            font-size: 18px;
        }

        .footer {
            gap: 50px;
        }
    }
}
