@include mobile() {
    .textContainer {
        position: relative;
    }

    .stars {
        position: absolute;
        top: -20px;
        left: -8px;
        width: 45px;
        height: 20px;
    }

    .title {
        margin-bottom: 6px;
    }
}

@include tablet() {
    .textContainer {
        width: 70%;
    }
}

@include laptop() {
    .textContainer {
        width: 77%;
    }

    .stars {
        width: 55px;
        height: 24px;
        top: -30px;
        left: -10px;
    }

    .title {
        margin-bottom: 10px;
    }
}

@include desktop_extra_extra() {
    .textContainer {
        width: 75%;
    }

    .stars {
        width: 69px;
        height: 30px;
        top: -40px;
        left: -20px;
    }

    .title {
        margin-bottom: 15px;
    }
}