.container {
    position: relative;
    width: 920px;
    height: 804px;
    overflow: hidden;
    background: var(--gray-color-10);
}

.img {
    position: absolute;
    transition: all 2s ease-in;
}

.backImg {
    position: absolute;
}
