.tab {
    background-color: #1a1a1a;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    // flex-grow: 1;
    flex: 1 1 0px;
    border-radius: var(--card-border-radius);
    position: relative;
    & * {
        color: var(--absolute-color-white);
    }
}

.mini {
    gap: 2px;
    padding: 16px 24px;
}

.icon {
    position: absolute;
    top: 20px;
    right: 20px;
}

.center {
    align-items: center;
}

.left {
    align-items: flex-start;
}

.right {
    align-items: flex-end;
}
