@include mobile() {
    .form {
        display: grid;
        padding: 20px;
        gap: 20px;
        border: 1px solid var(--gray-color-15);
        border-radius: var(--card-border-radius);
    }

    .contacts {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 16px;

        & div {
            width: 100%;
            flex: 1 1 0px;
        }
    }


    .footer {
        display: flex;
        justify-content: space-between;
        padding-top: 12px;
        flex-direction: column;
        gap: 20px;
    }

    .btnSend {
        width: 100%;
    }


    .textarea textarea {
        height: 90px;
    }
}

@include tablet() {
    .form {
        grid-template-columns: repeat(2, 1fr);
    }

    .contacts {
        grid-column: span 2;
        flex-direction: row;
        // display: none;
    }

    .textarea,
    .footer,
    .fat {
        grid-column: span 2;
    }

    .footer {
        padding-top: 0;
        align-items: center;
        flex-direction: row;
    }

    .btnSend {
        width: auto;
    }



}

@include laptop() {
    .form {
        padding: 50px;
        gap: 30px;
        grid-template-columns: repeat(3, 1fr);
    }

    .fat {
        grid-column: span 1;
        // display: none;
    }

    .contacts, .footer {
        grid-column: span 3;
        // flex-direction: row;
        // display: none;
    }

    .textarea {
        grid-column: span 3;

        textarea {
            height: 122px;
        }
    }
}

@include desktop_extra() {
    .form {
        grid-template-columns: repeat(4, 1fr);
    }

    .contacts,.fat {
        grid-column: span 2;
    }

    .textarea, .footer {
        grid-column: span 4;

        textarea {
            height: 122px;
        }
    }
}

@include desktop_extra_extra() {
    .form {
        padding: 100px;
        gap: 50px;
    }

    .textarea textarea {
        height: 170px;
    }
}
