@include mobile() {
    .form {
        position: relative;
    }

    .input {
        width: 100%;
        padding: 14px 60px 14px 20px;
        border: 1px solid var(--gray-color-15);
        border-radius: var(--card-border-radius);
        background: var(--gray-color-08);

        &:-internal-autofill-selected {
            transition:
                background-color 0s 600000s,
                color 0s 600000s !important;
        }
    }

    .placeholder {
        gap: 5px;
        position: absolute;
        top: 14px;
        left: 20px;
        pointer-events: none;
        transition: all 0.3s ease-in-out;
        background: var(--gray-color-08);

        &Text {
            font-size: 14px;
        }

        &__active {
            left: 12px;
            top: -10px;
        }
    }

    .telegramIcon {
        width: 24px;
        height: 24px;
    }

    .btnSend {
        position: absolute;
        top: 0;
        right: 0;
    }
}

@include desktop_extra_extra() {
    .input {
        padding: 21px 64px 21px 24px;
        font-size: 18px;
    }

    .placeholder {
        gap: 10px;
        top: 20px;
        left: 24px;

        &Text {
            font-size: 18px;
        }

        &__active {
            left: 12px;
            top: -12px;
        }
    }

    .telegramIcon {
        width: 30px;
        height: 30px;
    }
}
