.flex {
    display: flex;
}

.justify {
    &_center {
        justify-content: center;
    }

    &_left {
        justify-content: left;
    }

    &_right {
        justify-content: right;
    }

    &_between {
        justify-content: space-between;
    }
}

.align {
    &_center {
        align-items: center;
    }

    &_normal {
        align-items: normal;
    }

    &_left {
        align-items: start;
    }

    &_right {
        align-items: end;
    }
}

.direction {
    &_column {
        flex-direction: column;
    }

    &_row {
        flex-direction: row;
    }
}
