:root {
    /* Font */
    --font-line: 150%;

    /*
        ! STAR
    */

    // --font-size-s: 12px;
    --font-size-mobile-m: 14px;
    // --font-size-mobile-l: 18px;
    // --font-size-mobile-xl: 18px;
    
    
    // --font-size-mobile-s: 12px;
    // --font-size-mobile-m: 16px;
    // --font-size-mobile-l: 18px;
    // --font-size-mobile-xl: 18px;

    /*
        ! END
    */

    --font-size-m: 18px;
    --font-size-l: 20px;
    --font-size-xl: 24px;
    --font-size-xxl: 40px;
    --font-size-xxxl: 48px;
    --font-size-xxxxl: 60px;

    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;

    --font-family: Urbanist, 'Times New Roman', serif;
    --font-main: var(--font-size-m) / var(--font-line) var(--font-family-main);

    /* Color */

    --absolute-color-white: #fff;
    --absolute-color-black: #000;

    --primary-color-60: #703bf7;
    --primary-color-65: #8254f8;
    --primary-color-70: #946cf9;
    --primary-color-75: #a685fa;

    --primary-color-90: #dbcefd;
    --primary-color-95: #ede7fe;
    --primary-color-97: #f4f0fe;
    --primary-color-99: #fbfaff;

    --light-color-90: #e4e4e7;
    --light-color-95: #f1f1f3;
    --light-color-97: #f7f7f8;
    --light-color-99: #fcfcfd;

    --gray-color-08: #141414;
    --gray-color-10: #1a1a1a;
    --gray-color-15: #262626;
    --gray-color-20: #333333;
    --gray-color-30: #4d4d4d;
    --gray-color-40: #666666;
    --gray-color-50: #808080;
    --gray-color-60: #999999;

    --star-color: #ffe500;

    /* Border Radius */
    --card-border-radius: 12px;
    --image-border-radius: 10px;
    --tag-border-radius: 28px;
}
