.commentCard {
    height: 100%;
}

.feedback {
    color: var(--absolute-color-white);

    &Title {
        color: var(--absolute-color-white);
        letter-spacing: 0.1px;
    }

    &Container {
        margin-bottom: auto;
    }
}

.size {
    &_s {
        &.commentCard {
            gap: 26px;
            padding: 30px;
        }

        .feedbackContainer {
            gap: 4px;
        }

        .feedbackTitle {
            font-size: 18px;
        }
    }

    &_m {
        &.commentCard {
            gap: 30px;
            padding: 40px 39px 40px 40px;
        }

        .feedbackContainer {
            gap: 10px;
        }

        .feedbackTitle {
            font-size: 20px;
        }
    }

    &_l {
        &.commentCard {
            gap: 40px;
            padding: 50px;
        }

        .feedbackContainer {
            gap: 14px;
        }

        .feedbackTitle {
            font-size: 24px;
        }
    }
}

.view {
    &_horizon {
        .user {
            position: absolute;
        }

        .stars {
            margin-left: auto;
            margin-bottom: 10px;
        }
    }

    &_vertical {
        .user {
            position: static;
        }

        .stars {
            margin-left: 0;
            margin-bottom: 0;
        }
    }
}
