.commentCard {
    width: 512px;
    border: 1px solid var(--gray-color-15);
    border-radius: var(--card-border-radius);
    padding: 50px;
    height: 442px;
}

.feedback {
    color: var(--absolute-color-white);

    &Title {
        font-size: var(--font-size-xl);
    }
}

.user {
    margin-top: auto;
}