$border: 1px solid var(--gray-color-15);

.card {
    flex: 1 1 0px;
    background: var(--gray-color-08);
}

.background {
    &_gray-10 {
        background: var(--gray-color-10);
    }
}

.border {
    &_default {
        border-radius: var(--card-border-radius);
        border: $border;
    }

    &_top {
        border-top: $border;
    }

    &_bottom {
        border-bottom: $border;
    }

    &_right {
        border-right: $border;
    }

    &_left {
        border-left: $border;
    }

    &_horizon {
        border-top: $border;
        border-bottom: $border;
    }
}

.padding {
    &_s {
        @include mobile() {
            padding: 20px;
        }

        @include laptop() {
            padding: 24px;
        }

        @include desktop_extra_extra() {
            padding: 30px;
        }
    }
    &_m {
        @include mobile() {
            padding: 24px;
        }

        @include laptop() {
            padding: 30px;
        }

        @include desktop_extra_extra() {
            padding: 40px;
        }
    }
    &_l {
        @include mobile() {
            padding: 30px 30px 28px;
        }

        @include laptop() {
            padding: 40px;
        }

        @include desktop_extra_extra() {
            padding: 50px;
        }
    }
}
.theme {
    @include mobile() {
        &_outline {
            outline: 6px solid var(--gray-color-10);
        }
    }
    @include laptop() {
        &_outline {
            outline: 8px solid var(--gray-color-10);
        }
    }
}
